:root {
  /* палитра цветов */
  --primary-color: #212121;
  --secondary-color: #757575;
  --secondary-color-w: #ffffff;
  --logo-color: #000000;
  --additional-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  /*  рамка */
  --primary-border-color: #eeeeee;
  --secondary-border-color: #ececec;

  /* фон */
  --primary-background-color: #ffffff;
  --secondary-background-color-lige: rgba(47, 48, 58, 0.4);
  --secondary-background-color-dark: #2f303a;
  --accent-background-color: #afb1b8;
  --btn-background-color: #f5f4fa;
  /* текст */
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}
body {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

/* ///   сброс стилей   /// */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
.button {
  cursor: pointer;
}
address {
  font-style: normal;
}
/* //////////////////////////////////////////// */
/*    ///   скрываем заголовок   ///    */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* //////////////////////////////////////////// */
/* общие классы */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link-header {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-hover:hover,
.linc-hover:focus-within {
  color: var(--accent-color);
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.transform {
  text-transform: uppercase;
}
/* //////////////////////////////////////////// */
/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-span {
  color: var(--accent-color);
  
}
.footer-logo {
  color: var(--secondary-color-w);
}
/*====================   HEADER   ==================== */
.header {
  border-bottom: 1px solid var(--secondary-border-color);    
}
.header-container {
  display: flex;
  justify-content: space-between;  
}
/* nav */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  column-gap: 50px;
}
.header-logo {
  margin-right: 93px;
}
.menu-link { 
  color: var(--primary-color);
}
/* header-contact */
.header-contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;  
}

.header-contact-link {  
  color: var(--secondary-color);
}
/* //////////////////////////////////////////// */
/*    ///   hero   ///    */
.hero {
  background-color: var(--secondary-background-color-dark);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto; 
  color: var(--secondary-color-w);
}
/* button */
.button {
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  border-color: transparent;
}
.button-primary {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color-w);
  padding: 10px 32px;
  margin-top: 30px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.portfolio-button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--btn-background-color);
 
}
/* =========== */
.button-activ:active {
  color: var(--accent-color);
}
.button-primary:hover,
.button-primary:focus {
  background: var(--secondary-accent-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--secondary-color-w);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ///////////////////////////////////////////// */

/*    ///   advantage   ///    */
.advantage-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
 .advantage-item {
  flex-basis: calc((100% - 90px) / 4);
} 

.advantage-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ///////////////////////////////////////////// */
/*    ///   work   /// */
/* ///////////////////////////////////////////// */

.work {
  padding-top: 0;
}
.work-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.work-item{
  flex-basis: calc((100% - 60px) / 3);
}

/* ///////////////////////////////////////////// */

/*    ///   team   ///    */
.team {
  background-color: var(--btn-background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.team-item {
  background-color: var(--primary-background-color);
  /* padding-bottom: 30px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);

}
.team-item-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ///////////////////////////////////////////// */
/*    ///   footer   ///    */
.footer {
  background-color: var(--secondary-background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  margin-top: 20px; 
}
.address-item:not(:last-child){ 
  margin-bottom: 9px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-w);
}
.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
.current {
  color: var(--accent-color);
}
/* ///////////////////////////////////////////// */
/*    ///   portfolio   ///    */

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 50px;
}
.portfolio-list-clients {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  
}
.portfolio-item-clients{
  flex-basis: calc((100% - 60px) / 3);

}

.portfolio-item-clients-wrapper {
  border: 1px solid var(--primary-border-color);
  border-top: none;
  /* border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color); */
  padding: 20px 24px;
}
.portfolio-item-clients-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
}
.portfolio-item-clients-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ///////////////////////////////////////////// */
